/* general styles*/

.mar-top-10{
    margin-top : 10px;
}
.mar-top-20{
    margin-top : 20px;
}
.mar-top-50{
    margin-top : 50px;
}
.mar-bot-10{
    margin-bottom : 10px;
}
.mar-bot-20{
    margin-bottom : 20px;
}
.mar-bot-50{
    margin-bottom : 50px;
}

.pad-top-10{
    padding-top : 10px;
}
.pad-top-20{
    padding-top : 20px;
}
.pad-top-50{
    padding-top : 50px;
}
.pad-bot-10{
    padding-bottom : 10px;
}
.pad-bot-20{
    padding-bottom : 20px;
}
.pad-bot-50{
    padding-bottom : 50px;
}

.btn.current{
    background-color: #8754ef;
    color:#fff;
    border: none;
}
.btn.focus, .btn:focus, .btn:hover{
    color: #fff;
}
.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}
.btn-table{
    border-radius: 20px;
    padding: 0px 10px;
    width: 100px;
}
.table-inner{
    width: 100%;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #212529;
}
.btn-dyna {
    background-color: #333;
    padding: 10px 15px;
    border-radius: 20px;
    color: #fff
}
/*login specific styles*/

.lupa-login-container{
    background-color: #ddd;
    width: 100%;
    height:100%;
    background-image: url(../images/curv1.png), url(../images/curv2.png);
    background-position: right bottom, left bottom;
    background-repeat: no-repeat, no-repeat;
}
.login-container{
    width:70%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    overflow: auto;
}
.login-label label{
    font-size: 1.25em;
    line-height: 1em;
    font-weight: normal;
}
.login-img{
    max-width: 400px;
}
.label-top{
    display: block;
    width:43px;
    border-top: 3px solid #8754ef;
    margin-bottom: 5px;
}
.login-submit{
    background-color: #8754ef;
    padding: 10px 15px;
    width: 40%;
    border-radius: 20px;
    color: #fff;
}
.login-button{
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.login-button a{
    text-decoration: none;
    color: #333;
    padding: 10px 0px;
}
.login-button.current a{
    text-decoration: none;
    color: #fff;
}
.login-right{
    padding: 0px 50px;
}
.pwd-reset-label {
    display: block;
    text-align: center;
    font-size: 12px
}
.otp-box {
    width: 20px;
}
.pwd-reset-otp input[type=number]::-webkit-inner-spin-button, 
.pwd-reset-otp input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
  
}
.pwd-reset-otp input{
  width: 30px; 
  text-align:center
}


.sidebar-panel {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    overflow-x: hidden;
    background-color: #E8E3E3;
    height: calc(100%-40px);
    height: -moz-calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    height: calc(100% - 40px);
}
.logo-section {
    float: left;
    width: 200px;
    border-bottom: 1px solid #CBBEBE;
}
.navigation-header {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navigation-links {
    padding: 5px;

}
.navigation-links  li {
    list-style-type: none;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 5px;
}
.navigation-links a {
   padding-left: 20px;
   text-decoration: none;
   color: #000;
}
.navigation-links i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.user-dropdown  button {
    background: none;
    box-shadow: none;
    border: 0px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.active-menu {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.arrow-custom  {
    float: right;
    /* text-align: right; */
    position: relative;
    right: 20px;
    top: 6px;
}
.header-container {
    position: fixed;
    height: 50px;
    z-index: 9;
    background: #E8E8E8;
    width: 100%;
}
.main-navigation {
    float: left;
    padding: 7px;
}
.main-navigation .fa-heart {
    color: #f00;
}
.user-dropdown {
    float: right;
    padding-top: 15px;
    position: relative;
    right: 75px;
}
.user-dropdown .dropdown-menu {
    width: 200px;
    left: -122px;
    border-radius: 0px;
}
.user-dropdown .dropdown-menu li {
    padding: 8px;
}
.user-dropdown .dropdown-menu li a i {
    padding-right: 10px;
}
.main-nav-links {
    width: 112px;
    height: 33px;
    border-radius: 20px;
    line-height: 32px;
    display: inline-block;
    text-align: center;
}
.main-nav-links:hover {
    text-decoration: none;
}
.active-main-nav {
    background-color: #ccc;
    color: #3E503E;
}
a.active-main-nav:hover, a.active-main-nav:focus {
    color: #3E503E;
}
.footer-container  {
    text-align: center;
    height: 40px;
    background: #ccc;
    position: fixed;
    bottom: 0px;
    line-height: 38px;
    width: 100%;
    font-size: 12px;
}

.form-group label{
    width: 150px;
}
.setting{
    position: relative;
    min-height: 350px;
}
.btn-profile{
    background-color: #333;
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
}
.btn-smtp{
    background-color: #333;
    width: 150px;
    color: #fff;
}
.compare table tr td{
    padding: 10px 12px;
}

.body-container {
    padding-top: 65px;
    width: 98%;
    padding-left: 60px;
}   
.recent-update {
    border: 1px solid #ccc;
    padding: 8px;
    box-shadow: chocolate;
    border-radius: 9px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 2px 4px 5px #888;
}
.recent-update ul {
    list-style-type: none;
    padding-left: 4px;
    margin-top: 12px;
    font-weight: bold;
}

.green_dot {
  height: 17px;
  width: 17px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
.blue_dot {
  height: 17px;
  width: 17px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}
.red_dot {
  height: 17px;
  width: 17px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.orange_dot {
  height: 17px;
  width: 17px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}
span.job_status {
    display: inline-block;
    width: 79%;
    padding-left: 10px;
    font-size: 12px;
    vertical-align: top;
}
.navigation-links #duration {
    padding-left: 0px;
}
.arrow-custom {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.collapsed .arrow-custom {
     transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}

.nav-switch .fa-toggle-on, .nav-switch .fa-toggle-off {
    font-size: 18px;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    position: fixed;
    width: 4%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 50px;
    background: #ccc;
}
.expand .sidenav {
    width: 200px;
}
.expand .nav-txt {
    display: inline-block;
    width: 144px;
}
.body-container.expand {
    padding-left: 210px;
    width: 98%;
}
.nav-slide {
    display: inline-block;
    padding-left: 10px;
}
#product, #duration {
    padding-left: 0px;
}
.nav-switch .nav-icon{
    font-size: 30px;
}
