/* general styles*/

.back-g-white{
    background-color: #fff;
    -moz-box-shadow:    1px 3px 2px 1px #ccc;
    -webkit-box-shadow: 1px 3px 2px 1px #ccc;
    box-shadow:         1px 3px 2px 1px #ccc;
}
.height-250{
    min-height: 200px;
}
.half-bordered{
    border-radius: 10px 10px 0px 0px;
    -moz-box-shadow:    1px 1px 2px 1px #ccc;
    -webkit-box-shadow: 1px 1px 2px 1px #ccc;
    box-shadow:         1px 1px 2px 1px #ccc;
}
.mar-left-50{
    margin-left: 50px;
}
.pad-left-20{
    padding-left: 20px;
}
.mar-top-10{
    margin-top : 10px;
}
.mar-top-20{
    margin-top : 20px;
}
.mar-top-50{
    margin-top : 50px;
}
.mar-bot-10{
    margin-bottom : 10px;
}
.mar-bot-20{
    margin-bottom : 20px;
}
.mar-bot-50{
    margin-bottom : 50px;
}

.pad-20{
    padding: 20px;
}
.pad-top-10{
    padding-top : 10px;
}
.pad-top-20{
    padding-top : 20px;
}
.pad-top-50{
    padding-top : 50px;
}
.pad-bot-10{
    padding-bottom : 10px;
}
.pad-bot-20{
    padding-bottom : 20px;
}
.pad-bot-50{
    padding-bottom : 50px;
}

.btn.current{
    background-color: #8754ef;
    color:#fff;
    border: none;
}
.btn.focus, .btn:focus, .btn:hover{
    color: #fff;
}
.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}
.btn-table{
    border-radius: 20px;
    padding: 0px 5px;
    width: 110px;
}
.table-inner{
    width: 100%;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #212529;
}
.btn-dyna {
    background-color: #333;
    padding: 6px 12px;
    border-radius: 20px;
    color: #fff
}
.btn-custom-radius{
    border-radius: 20px;
}
body{
    background-color: #f2f7fb;
}
table tr th,table tr td{
    font-size: 14px;
}
.error-msg i,.error-msg span{
    color: red;
}
.success-msg i,.success-msg span{
    color: green;
}
/*login specific styles*/

.lupa-login-container{
    background-color: #ddd;
    width: 100%;
    height:100%;
    background-image: url(../images/curv1.png), url(../images/curv2.png);
    background-position: right bottom, left bottom;
    background-repeat: no-repeat, no-repeat;
}
.login-container{
    width:70%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    overflow: auto;
}
.login-label label{
    font-size: 1.25em;
    line-height: 1em;
    font-weight: normal;
}
.login-img{
    max-width: 400px;
}
.label-top{
    display: block;
    width:43px;
    border-top: 3px solid #8754ef;
    margin-bottom: 5px;
}
.login-submit{
    background-color: #8754ef;
    padding: 10px 15px;
    width: 40%;
    border-radius: 20px;
    color: #fff;
}
.login-button{
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.login-button a{
    text-decoration: none;
    color: #333;
    padding: 10px 0px;
}
.login-button.current a{
    text-decoration: none;
    color: #fff;
}
.login-right{
    padding: 0px 50px;
}
.pwd-reset-label {
    display: block;
    text-align: center;
    font-size: 12px
}
.otp-box {
    width: 20px;
}
.pwd-reset-otp input[type=number]::-webkit-inner-spin-button, 
.pwd-reset-otp input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
  
}
.pwd-reset-otp input{
  width: 30px; 
  text-align:center
}


.sidebar-panel {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    overflow-x: hidden;
    background-color: #E8E3E3;
    height: calc(100%-40px);
    height: -moz-calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    height: calc(100% - 40px);
}
.logo-section {
    float: left;
    width: 181px;
    background-color: #e7e4ea;
}
.navigation-header {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navigation-links {
    padding: 5px;

}
.navigation-links  li {
    list-style-type: none;
    padding-bottom: 12px;
    padding-top: 10px;
    padding-left: 0px;
}
.navigation-links a {
   padding-left: 20px;
   text-decoration: none;
   color: #000;
}
.navigation-links i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.active-menu {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.arrow-custom  {
    float: right;
    /* text-align: right; */
    position: relative;
    right: 20px;
    top: 6px;
}
.header-container {
    position: fixed;
    height: 50px;
    z-index: 9;
    background-color: #f2f3f5;
    width: 100%;
    -moz-box-shadow:    1px 1px 2px 0px #ccc;
    -webkit-box-shadow: 1px 1px 2px 0px #ccc;
    box-shadow:         1px 1px 2px 0px #ccc;
}
.main-navigation {
    float: left;
    padding: 7px;
}
.main-navigation .fa-heart {
    color: #f00;
}
.user-dropdown {
    float: right;
    padding-top: 15px;
    position: relative;
    right: 75px;
}
.user-dropdown .dropdown-menu {
    width: 200px;
    left: -110px;
    border-radius: 0px;
}
.user-dropdown .dropdown-menu li {
    padding: 8px;
}
.user-dropdown .dropdown-menu li a i {
    padding-right: 10px;
}
.main-nav-links {
    width: 112px;
    height: 33px;
    border-radius: 20px;
    line-height: 32px;
    display: inline-block;
    text-align: center;
}
.main-nav-links:hover {
    text-decoration: none;
}
.active-main-nav {
    background-color: #ccc;
    color: #3E503E;
}
a.active-main-nav:hover, a.active-main-nav:focus {
    color: #3E503E;
}
.footer-container  {
    text-align: center;
    height: 40px;
    background: #ccc;
    position: fixed;
    bottom: 0px;
    line-height: 38px;
    width: 100%;
    font-size: 12px;
    z-index: 10;
}

.form-group label{
    width: 150px;
}
.setting{
    position: relative;
    min-height: 300px;
}
.btn-profile{
    background-color: #333;
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
}
.btn-smtp{
    background-color: #333;
    width: 150px;
    color: #fff;
}
.compare table tr td{
    padding: 10px 12px;
}

.body-container {
    padding-top: 65px;
    width: 98%;
    padding-left: 60px;
}   
.recent-update {
    border: 1px solid #ccc;
    padding: 8px;
    box-shadow: chocolate;
    border-radius: 9px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 2px 4px 5px #888;
    margin-top: 50px
}
.recent-update ul {
    list-style-type: none;
    padding-left: 4px;
    margin-top: 12px;
    font-weight: bold;
}
.smtp input,.smtp select, .calculator input,.calculator select{
    min-width: 196px;
}

/* Side bar starts*/
.green_dot {
    height: 17px;
    width: 17px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }
  .blue_dot {
    height: 17px;
    width: 17px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
  }
  .red_dot {
    height: 17px;
    width: 17px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }
  .orange_dot {
    height: 17px;
    width: 17px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
  }
  span.job_status {
      display: inline-block;
      width: 79%;
      padding-left: 10px;
      font-size: 12px;
      vertical-align: top;
  }
  .navigation-links #timestatistics {
      padding-left: 0px;
  }
  .arrow-custom {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
  }
  
  .collapse.in .arrow-custom {
       transform: rotate(45deg);
      -webkit-transform: rotate(45deg)
  }
  
  
  .nav-switch .fa-toggle-on, .nav-switch .fa-toggle-off {
      font-size: 18px;
      cursor: pointer;
  }
  
  .sidenav {
      height: 100%;
      position: fixed;
      width: 4%;
      z-index: 1;
      top: 0;
      left: 0;
      overflow: hidden;
      transition: 0.5s;
      margin-top: 50px;
      background: #ccc;
  }
  .body-container.expand{
    width: calc(100% - 205px);
    margin-left: 180px;
    padding-left: 3px;
  }
    
  .expand .sidenav {
      width: 181px;
  }
  .expand .nav-txt {
      display: inline-block;
      width: 144px;
  }
  
  .nav-slide {
      display: inline-block;
      padding-left: 10px;
  }
  #product, #duration, #timestatistics {
      padding-left: 0px;
  }
  .nav-switch .nav-icon{
      font-size: 30px;
  }
  
  
  .circle {
    display : inline-block;
    border-radius : 8px;
    width: 12px;
    height: 12px;
    line-height: 1px;
    margin-right: 6px;
  }
  .red {
    border: 2px solid #C35D8A;
  }
  .blue {
    border: 2px solid #7EC7BB;
  }
  .green {
    border: 2px solid #79C3B8;
  }
  .yellow {
    border: 2px solid #E7D297;
  }
  .dot:before {
    content: ".";
    width: 1px;
    height: 1px;
    display: block;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 2px;
    margin-left: 2px;
    display: none;
    
  }
  .red:before {
    background-color: #C35D8A;
    border: 2px solid #C35D8A;
  }
  .green:before {
    background-color: #79C3B8;
    border: 2px solid #79C3B8;
  }
  .yellow:before {
    background-color: #E7D297;
    border: 2px solid #E7D297;
  }
  .blue:before {
    background-color: #7EC7BB;
    border: 2px solid #7EC7BB;
  }
  .active:before {
    display : block;
  }
  .report-link {
      display: inline-block;
      width: 132px;
  }
  .navigation-links img {
      float: left;
  
  }
  .navigation-links a {
      padding-left: 0px;
     font-weight: bold
  }
  .navigation-links ul {
      padding-left: 0px;
  }
  #product {
      padding-left: 30px;
  }
  .navigation-links li {
      cursor: pointer;
  }
  #reports li {
      font-weight: bold;
  }
  #duration a, #timestatistics a , #product a{
      font-weight: normal
  }
  .sidenav { 
      width: 3%;
  } 
.nav-switch .nav-icon{
    font-size: 30px;
}
/* Side bar ends*/
#loadergif {
    position: fixed;
	top: 0%;
	left: 0%;
	z-index: 1000;
	opacity: .8;
	display: none;
	background-color: #000;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}
#loadergif img {
	width: 100px;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	position: absolute;
	
}
input[type=checkbox] {
    width: 18px;
    height: 18px;
    margin-right: 7px;
}
.feature{
    position: relative;
}
.feature label{
    position: absolute;
    margin-top: 3px;
    text-transform: capitalize;
}
.btn-drop option{
    color: #000;
}
.btn-drop:hover,.btn-drop:active{
    color: #000;
    background-color: #fff;
}

.recent-update {
    background: #fff;
}
.dashboard-container #product-chart-monthly .svg-container, .dashboard-container #product-chart-monthly2 .svg-container, .dashboard-container #productarea .svg-container {
    height: 253px !important;
    overflow-y : hidden;
}
.plotly-box-shadow h5 {
    font-weight: bold;
}

.plotly-box-shadow {
    border: 1px solid #ccc;
    border-radius: 12px;
    -webkit-box-shadow: 1px 1px 2px 1px #ccc;
    -moz-box-shadow: 1px 1px 2px 1px #ccc;
    box-shadow: 1px 1px 2px 1px #ccc;
    background: #fff;
    margin-bottom: 10px;
}
.chart {
    cursor: pointer;
    padding-left: 5px;
    margin-top: 10px;
    display: inline-block;
}
.chart-dropdown {
    float: right;
    cursor: pointer;
    padding-right: 20px;
    padding-top: 7px;
    right: 0px;
    z-index: 100;
}
.fa-square:before {
    content: "\f0c8";
    background: #000;
    font-size: 6px;
}
i.far.fa-square {
    display: block;
    padding-bottom: 5px;
}
.dropdown-content {
  right: 0;
}
.chart-dropdown .dropdown-menu{
    min-width: 20px;
    /* padding: 0px; */
    left: -45px;
}

.custom-plot-button{
  background-color: lightblue;
  height: 40px;
}
.expand .svg-container  {
    margin-left: 90px;
}
.download-icon {
    font-size: 24px;
    color: #385438;
    padding-left: 10px;
    padding-bottom: 10px;
    cursor: pointer;

}
.modebar-group {
    visibility: hidden
}
.chart img {
    height: 14px;
}
.weekly-section ul {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50px;
}
.weekly-section li {
    float: left;
    padding-left: 10px;
}
.added-fav {
    color: #f00;
}
.recent-update ul li {
    font-size: 12px;
}
#duration .setActiveTab a, #timestatistics .setActiveTab a, #product .setActiveTab a {
    font-weight: bold;
}
.live-chart-list li {
    list-style-type: none;
    float: left;
    margin-right: 10px;

}
.live-chart-list li label {
    position: relative;
    top: -4px;
    font-size: 14px;
}
.highcharts-button-disabled {
    display: none;
}
.year-label, .user-label {
    font-weight: bold;
    padding-right: 10px;
}
.year-list {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}   
.admin-report-filter {

}
.usertype-filter-year {
    clear: both;
    padding-left: 21px;
}
.usertype-filter-type {
    padding-left: 21px;
    padding-top: 20px;
}
.chart-type-container {
    padding-left: 20px;
}
.usertype-filter-dropdown-dept {
    width: 129px;
    padding-left: 20px;
}
.arrow-right {
    transform: rotate(-45deg) !important;
    -webkit-transform: rotate(-45deg) !important;
}
.collapse.in .arrow-right {
    transform: rotate(45deg) !important;
    -webkit-transform: rotate(45deg) !important;
}


.notification-counter{
    border-radius: 10px;
    color: red;
    font-size: 10px;
    font-weight: bold;
    padding: 0px 4px;
    position: absolute;
    z-index: 3333333333;
    top: 10px;
    left: 12px;
    border: 1px solid red;
    text-align: center;
}
.notification-dropdown .dropdown-menu {
    width: 400px;
    left: -365px;
    border-radius: 0px;
}
.notification-dropdown .dropdown-menu li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}
.notification-dropdown .dropdown-menu li:last-child{
    border-bottom:none;
}
.notification-msg{
    display: inline-block;
    width: 70%;
}
.notification-btns{
    display: inline-block;
    width: 27%;
}
.head-btn {
    background: none;
    box-shadow: none;
    border: 0px;
}

#loaderNotification {
    position: absolute;
	top: 0%;
	left: 0%;
	z-index: 1000;
	opacity: .8;
	display: none;
	background-color: #000;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}
#loaderNotification img {
	width: 30px;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
	
}
.dashboard-box-shadow {
    border: 1px solid #ccc;
    padding: 8px;
    box-shadow: chocolate;
    border-radius: 9px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 2px 4px 5px #888;
    background: #fff;
    padding-right: -1px;
    margin-right: -10px;
    margin-top: 10px;
}
.chart-render {
    display: none;
    margin-bottom: 20px;
}

.circle-bg {
    width: 26px;
    height: 26px;
    display: inline-block;
    background: #75927A;
    border-radius: 13px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
}
.cost-analytics-dropdown {
    width: 172px;
    z-index: 3;
    float: right;
    position: absolute;
    right: 10px;
    
}
.cost-analytics-dropdown ul li {
    float: left;
    list-style-type: none;
    padding-right: 10px;
    font-size: 12px;
    cursor: pointer;

}
.cost-analytics-dropdown ul li a{
    color: #000;
}
.cost-chart-title {
    padding: 10px;
    width: 100%;
    height: 33px;
    border-bottom: 1px solid #ccc;
}
.chart-title-left {
    float: left;
    font-size: 12px;
    font-family: verdana;
    position: relative;
    bottom: 10px;
}
.year-filter, .month-filter, .license-filter {
    display: inline-block
    
}
.cost-chart-filter {
    width: 100%;
    text-align: center; 
    float: left;
    position: relative;
    z-index: 3;
    margin: 10px auto;
}
.body-container.expand.dyna {
    width: calc(100% - 205px);
    margin-left: 180px;
    padding-left: 23px;
}
.dyna-compare-chart {
    padding-left: 0px;
    padding-right: 0px;
}
