<div class="header-container">
    <div class="main-navigation">
        <a href="#/dashboard" class="main-nav-links active-main-nav"><i class="fa fa-chart-area"></i> Dashboard</a>
        <a href="#" class="main-nav-links"><i class="fas fa-heart"></i> Favourites </a>
    </div>
<div class="user-dropdown">
    <div class="dropdown">
    <button class="dropdown-toggle" type="button" data-toggle="dropdown">User
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="fa fa-cog"></i>Setting</a></li>
      <li><a href="#"><i class="fa fa-user"></i>Profile</a></li>
      <li><a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
    </ul>
  </div>
</div>
</div>

