<div class="header-container" ng-init="headInit()">
    <div class="logo-section"> <img src="images/login-logo.png" width="135px"></div>
    <div class="main-navigation">
        <a href="#/{{userType}}dashboard" class="main-nav-links" ng-class="{'active-main-nav' : dashboardActive}"><i class="fa fa-bar-chart"></i> Dashboard</a>
        <a href="#/{{userType}}favourite" class="main-nav-links" ng-class="{'active-main-nav' : favouriteActive}" ng-click="getfavourite()"><i class="fa fa-heart" ></i> Favourites </a>
        <a href="#/{{userType}}costanalytics" class="main-nav-links" ng-if="userType ==='admin'" ng-class="{'active-main-nav' : costAnalyticsActive}" ><span class="circle-bg"><i class="fa fa-dollar"></i></span> Cost Analytics</a>
    </div>

<div class="user-dropdown">
    <div class="notification-counter" ng-if="userType ==='dept' && deptnotifications.length">{{deptnotifications.length}}</div>
    <div class="notification-counter" ng-if="userType ==='admin' && adminnotifications.length">{{adminnotifications.length}}</div>
    <div class="notification-dropdown" style="display: inline-block" ng-if="userType ==='dept'">
        <div class="dropdown">
            <button class="dropdown-toggle head-btn" type="button" data-toggle="dropdown">
            <span class="fa fa-bell"></span></button>
            <ul class="dropdown-menu no-notification" ng-if="!deptnotifications.length">
                <li class="notification-msg">No new notifications available</li>
            </ul>
            <ul class="dropdown-menu" ng-if="deptnotifications.length">
                    <li ng-repeat="notification in deptnotifications">
                        <div class="notification-msg"><p>{{notification.title}} of {{notification.username}} from {{notification.fromdepartment}} to {{notification.todepartment}}</p>
                            <p ng-if="acceptMsg && notification.id===curId" style="color:green">{{acceptMsg}}</p>
                            <p ng-if="errorAccMsg && notification.id===curId" style="color:red">{{errorAccMsg}}</p>
                        </div>
                        <div class="notification-btns text-center">
                            <button class="btn  btn-primary btn-table" ng-if="notification.type===null" ng-click="acceptDeptRequest(notification.id)">Accept</button>
                            <button class="btn  btn-danger btn-table" ng-if="notification.type===null" ng-click="rejectDeptRequest(notification.id)">Reject</button>
                            <button class="btn  btn-success btn-table" ng-if="notification.type!==null" ng-click="ackDeptRequest(notification.id)">Ok</button>
                        </div>
                    </li>
                </ul>
        </div>
        <div id="loaderNotification">
            <img src="images/loader.gif" alt="loading..." />
        </div>
    </div>
    <div class="notification-dropdown" style="display: inline-block" ng-if="userType ==='admin'">
        <div class="dropdown">
            <button class="dropdown-toggle head-btn" type="button" data-toggle="dropdown">
            <span class="fa fa-bell"></span></button>
            <ul class="dropdown-menu no-notification" ng-if="!adminnotifications.length">
                <li class="notification-msg">No new notifications available</li>
            </ul>
            <ul class="dropdown-menu" ng-if="adminnotifications.length">
                <li ng-repeat="notification in adminnotifications">
                    <div class="notification-msg"><p>{{notification.title}}</p>
                            <p ng-if="acceptMsg && notification.id===curId"" style="color:green">{{acceptMsg}}</p>
                            <p ng-if="errorAccMsg && notification.id===curId"" style="color:red">{{errorAccMsg}}</p>
                    </div>
                    <div class="notification-btns text-center">
                        <button class="btn  btn-success btn-table" ng-if="notification.type!==null" ng-click="ackAdminRequest(notification.id)">Ok</button>
                    </div>
                </li>
            </ul>
        </div>
        <div id="loaderNotification">
            <img src="images/loader.gif" alt="loading..." />
        </div>
    </div>
    <div class="dropdown" style="display: inline-block">
    <button class="dropdown-toggle head-btn" type="button" data-toggle="dropdown">{{username}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li ng-if="userType !=='user'"><a href="#/{{userType}}setting"><i class="fa fa-cog"></i>Setting</a></li>
      <li><a href="#/{{userType}}profilesetting"><i class="fa fa-user"></i>Profile</a></li>
      <li ng-if="userType ==='admin'"><a href="#/costcalculator"><i class="fa fa-calculator"></i>Cost Calculator</a></li>
      <li ng-if="userType ==='admin'"><a href="#/smtp"><i class="fa fa-database"></i>SMTP</a></li>
      <li ng-if="userType ==='dept'"><a href="#/dynacompares"><i class="fa fa-database"></i>Dyna Compare</a></li>
      <li ng-if="userType ==='admin'"><a href="#/machinename" ng-click="reloadMachine()"><i class="fas fa-industry"></i></i>Machine Name</a></li>
      <li><a href="javascript:void(0)" ng-click="getSignOut()"><i class="fa fa-sign-out"></i>Logout</a></li>
    </ul>
  </div>
</div>
</div>

