<div class="nav-sidebar sidenav">
    <div class="navIgation-header">
        <label ng-if="expandNav" class="nav-txt">Navigation</label>
        <span class="nav-switch" ng-if="!collapseNav" ng-click="navToggle()"><i class="fa fa-toggle-on fa-2x"></i></span>
        <span class="nav-switch" ng-if="!expandNav" ng-click="navToggle()"><i class="fa fa-toggle-off fa-2x"></i></span></div>
    <ul class="navigation-links">

        <li data-toggle="collapse" class="collapsed" data-target="#product"><img src="images/product-icon.png" width="20px"><span class="nav-slide" ng-if="expandNav">
                <a href="#/userreport" >Products</a></span><i class="arrow right arrow-custom" ng-if="expandNav"></i>
        </li>

        <ul id="product" class="collapse in" ng-if="expandNav">
            <li ng-repeat="item in productlist">
                <a><span class="circle red dot active"></span>{{item}}</a>
            </li>

        </ul>
        <li>
            <img src="images/report-icon.png" width="20px">
            <span class="nav-slide" ng-if="expandNav">
                    <a data-toggle="collapse" class="report-link" ng-class="{'collapsed' : !reportSidebar}" data-target="#reports" href="#/userreport">Reports  <i class="arrow right arrow-custom active-menu" ng-if="expandNav"></i></a>
                    <div class="collapse" ng-class="{'in' : reportSidebar}" id="reports" parent-target="#reports">
                    <ul>
                        <li data-toggle="collapse"  ng-class="{'collapsed' : !reportSidebar}" data-target="#duration" ng-if="expandNav">Licence <i class="arrow right arrow-custom" ng-if="expandNav"></i>

                        </li>
                        <ul id="duration" class="collapse in">
                             <li ng-click="loadReport('yearly', 'license_statistics')" ng-class="{'setActiveTab' : report_type == 'yearly'}">
                <a><span class="circle yellow dot active"></span>YEARLY</a>
        </li>
        <li ng-click="loadReport('yearly', 'license_statistics')" ng-class="{'setActiveTab' : report_type == 'monthly'}">
            <a><span class="circle red dot"></span>MONTHLY</a>
        </li>
        <li ng-click="loadReport('weekly', 'license_statistics')" ng-class="{'setActiveTab' : report_type == 'weekly'}">
            <a><span class="circle green dot"></span>WEEKLY</a>
        </li>

        <li ng-click="loadReport('this_week', 'license_statistics')" ng-class="{'setActiveTab' : report_type == 'this_week'}">
            <a><span class="circle blue dot"></span>THIS WEEK</a>
        </li>
    </ul>
    </ul>
    <ul>
        <li data-toggle="collapse" class="collapsed" data-target="#timestatistics" ng-if="expandNav">Time Statistics <i class="arrow right arrow-custom" ng-if="expandNav"></i>

        </li>
        <ul id="timestatistics" class="collapse">
            <li ng-click="loadReport('yearly', 'time_statistics')">
                <a><span class="circle yellow dot active"></span>YEARLY</a>
            </li>
            <li ng-click="loadReport('yearly', 'time_statistics')">
                <a><span class="circle red dot"></span>MONTHLY</a>
            </li>
            <li ng-click="loadReport('weekly', 'time_statistics')">
                <a><span class="circle green dot"></span>WEEKLY</a>
            </li>

            <li ng-click="loadReport('this_week', 'time_statistics')">
                <a><span class="circle blue dot"></span>THIS WEEK</a>
            </li>
        </ul>
    </ul>
</div>
</span>

</li>

</ul>

</div>