<div class="lupa-login-container">
    <div class="lupa-logo-container  text-center mar-bot-10">
        <img class="" src="images/login-logo.png" title="Logo" alt="Logo" />
    </div>
    <div class="container login-container pad-top-50 pad-bot-50">
        <div class="row">
            <div class="col-sm-6 login-left">
                <div class="button-container pad-top-10">
                    <button class="btn login-button current"><a href="#/admin">ADMIN LOGIN </a></button>
                    <button class="btn login-button"><a href="#/manager">DEPARTMENT LOGIN</a></button>
                    <button class="btn login-button"><a href="#/">USER LOGIN</a></button>
                </div>
                <div class="login-img mar-top-20">
                    <img class="img-responsive" src="images/login-img.png" title="Logo" alt="Logo" />
                </div>
            </div>
            <div class="col-sm-6 login-right">
                <div class="login-label mar-top-10">
                    <span class="label-top"></span>
                    <label>Admin as a User</label>
                </div>
                <div class="form-container pad-top-50 text-center">
                    <form>
                        <input  type="text" class="form-control" placeholder="Enter Email ID" />
                        <input type="password" class="form-control mar-top-20" placeholder="Enter Password" />
                        <button  class="btn login-submit mar-top-50" > LOGIN </button><br/><br/>
                        <a href="#/userforgotpassword">Forgot your password?</a><br/><br/>
                        <span class="Register-link">Don't have account</span> <a href="#/userregister">Register here</a>
                    </form>
                </div>
                
            </div>
            
        </div>

    </div>
</div>