<header ng-include="'views/partials/header.html'"></header>
<div class="sidebar-panel" ng-class="{'expand': expandNav}">
    <div ng-include="'views/partials/sidebar.html'"></div>
</div>

<div class="report-container analytics-container body-container" ng-class="{'expand':expandNav}">
    <div class="container-fluid">
        <div class="row" id="sortable">
            <div class="col-sm-6 col-md-6 col-md-6 full-screen-view chart-render" id="full-screen-view-1">

                <div class="pie-chart-container overall-report chart-container back-g-white half-bordered dashboard-box-shadow">
                    <div class="cost-chart-title">
                        <div class="chart-title-left">Total Expenditure
                            <span class="chart vbar-chart"><i class="fa fa-bar-chart" ng-click= "changeCostAnalyticsGraph($event, 'vertical_bar_chart')"></i></span>
                            <span class="chart pie-chart"><i class="fa fa-pie-chart" ng-click= "changeCostAnalyticsGraph($event, 'pie_chart')"></i></span>
                            <span class="chart line-chart"><i class="fa fa-line-chart" ng-click= "changeCostAnalyticsGraph($event, 'line_chart')"></i></span>
                            <span class="chart area-chart"><i class="fa fa-area-chart" ng-click= "changeCostAnalyticsGraph($event, 'area_chart')"></i></span>
                            <span class="chart hbar-chart"><img src="images/horizontal-bar.png" class="" ng-click= "changeCostAnalyticsGraph($event, 'horizontal_bar_chart')"></img></span>

                        </div>
                        <div class="dropdown cost-analytics-dropdown">
                            <ul>

                                <li>
                                    <a ng-click="zoomOut($event);"> <i class="fa fa-window-minimize"></i>
                                    </a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-redo-alt"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="goFullscreenOther($event)"> <i class="fa fa-expand"></i>
                                    </a>
                                </li>
                                <li ng-click="getOverallCostAnalytics()">
                                    <a> <i class="fa fa-refresh"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="addToFavourite(report_type, chartType, statisticsType)"> <i class="fa fa-heart" ng-class="{'added-fav' : addedFav}"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="cost-chart-filter">
                        <div class="year-filter">
                            <input type="radio" name ="chart-filter-1"  ng-click="changeYearlyExpenditureBtn('year',selectedYear1, selectedMonth1, typeOfLicense)" />
                            <label>Year</label>
                            <select class="form-control" id="year1" ng-model="selectedYear1" ng-disabled="!selectedRadio1"  ng-change="yearlyExpenditure(selectedYear1, selectedMonth1, typeOfLicense)">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getYearlyList">{{item}}</option>
                            </select>
                        </div>
                        <div class="month-filter">
                            <input type="radio" name ="chart-filter-1" ng-click="changeYearlyExpenditureBtn('month',selectedYear1, selectedMonth1, typeOfLicense)" />
                            <label>Month</label>
                            <select class="form-control" id="month1" ng-model="selectedMonth1" ng-disabled="!selectedRadio2" ng-change="yearlyExpenditure(selectedYear1, selectedMonth1, typeOfLicense)">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getMonthList">{{item}}</option>
                            </select>
                        </div>
                         <div class="license-filter">
                            <input type="radio" name ="chart-filter-1" ng-click="changeYearlyExpenditureBtn('license',selectedYear1, selectedMonth1, typeOfLicense)"/>
                            <label>Type of License</label>
                            <select class="form-control" id="typeOfLicense" ng-model="typeOfLicense" ng-disabled="!selectedRadio3" ng-change="yearlyExpenditure(selectedYear1, selectedMonth1, typeOfLicense)">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getLicenseList">{{item}}</option>
                            </select>
                        </div>
                        

                    </div>

                    <div id="yearly-expenditure-bar" class="chart-data-analytics"></div>

                    <div class="download-icon" ng-click="downloadChart($event)"><i class="fa fa-arrow-circle-down"></i></div>
                    <div class="resize-move" ng-mouseover="resizeMouseOver($event)"><i class="fa fa-arrows-alt"></i></div>
                </div>

            </div>
            <div class="col-sm-6 col-md-6 col-md-6 full-screen-view chart-render" id="full-screen-view-2">

                <div class="pie-chart-container overall-report chart-container back-g-white half-bordered dashboard-box-shadow">
                    <div class="cost-chart-title">
                        <div class="chart-title-left">Total Expenditure
                            <span class="chart vbar-chart"><i class="fa fa-bar-chart" ng-click= "changeCostAnalyticsGraph($event, 'vertical_bar_chart')"></i></span>
                            <span class="chart pie-chart"><i class="fa fa-pie-chart" ng-click= "changeCostAnalyticsGraph($event, 'pie_chart')"></i></span>
                            <span class="chart line-chart"><i class="fa fa-line-chart" ng-click= "changeCostAnalyticsGraph($event, 'line_chart')"></i></span>
                            <span class="chart area-chart"><i class="fa fa-area-chart" ng-click= "changeCostAnalyticsGraph($event, 'area_chart')"></i></span>
                            <span class="chart hbar-chart"><img src="images/horizontal-bar.png" class="" ng-click= "changeCostAnalyticsGraph($event, 'horizontal_bar_chart')"></img></span>
                        </div>
                        <div class="dropdown cost-analytics-dropdown">
                            <ul>

                                <li>
                                    <a ng-click="zoomOut($event);"> <i class="fa fa-window-minimize"></i>
                                    </a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-redo-alt"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="goFullscreenOther($event)"> <i class="fa fa-expand"></i>
                                    </a>
                                </li>
                                <li ng-click="getOverallCostAnalytics()">
                                    <a> <i class="fa fa-refresh"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="addToFavourite(report_type, chartType, statisticsType)"> <i class="fa fa-heart" ng-class="{'added-fav' : addedFav}"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="cost-chart-filter">
                        <div class="year-filter">
                            <input type="radio" name ="chart-filter-2"  ng-click="changeOverallCostAnalyticsBtn('year', selectedYear2, selectedMonth2)" />
                            <label>Year</label>
                            <select class="form-control" id="year2" ng-model="selectedYear2" ng-disabled="!selectedRadio4"  ng-change="overallCostAnalyticsChange('LSDYNA', selectedYear2, selectedMonth2)">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getCostAnalyticsYearList">{{item}}</option>
                            </select>
                        </div>
                        <div class="month-filter">
                            <input type="radio" name ="chart-filter-2" ng-click="changeOverallCostAnalyticsBtn('month', selectedYear2, selectedMonth2)" />
                            <label>Month</label>
                            <select class="form-control" id="month2" ng-model="selectedMonth2" ng-disabled="!selectedRadio5" ng-change="overallCostAnalyticsChange('LSDYNA', selectedYear2, selectedMonth2)">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getCostAnalyticsMonthList">{{item}}</option>
                            </select>
                        </div>
                         
                        

                    </div>

                    <div id="overall-cost-analytics" class="chart-data-analytics"></div>
                    
                    <div class="download-icon" ng-click="downloadChart($event)"><i class="fa fa-arrow-circle-down"></i></div>
                    <div class="resize-move" ng-mouseover="resizeMouseOver($event)"><i class="fa fa-arrows-alt"></i></div>
                </div>

            </div>

            <div class="col-sm-6 col-md-6 col-md-6 full-screen-view feature-chart chart-render" id="full-screen-view-3">

                <div class="pie-chart-container overall-report chart-container back-g-white half-bordered dashboard-box-shadow">
                    <div class="cost-chart-title">
                        <div class="chart-title-left">Total Expenditure
                            <span class="chart vbar-chart"><i class="fa fa-bar-chart" ng-click="changeFeatureAnalyticsGraphType('vertical_bar_chart','cost-analytics-feature-chart-0',featureProdData[0],featureProd[0])"></i></span>
                            <span class="chart pie-chart"><i class="fa fa-pie-chart" ng-click="changeFeatureAnalyticsGraphType('pie_chart','cost-analytics-feature-chart-0',featureProdData[0],featureProd[0])"></i></span>
                            <span class="chart line-chart"><i class="fa fa-line-chart" ng-click="changeFeatureAnalyticsGraphType('line_chart', 'cost-analytics-feature-chart-0',featureProdData[0],featureProd[0])"></i></span>
                            <span class="chart area-chart"><i class="fa fa-area-chart" ng-click="changeFeatureAnalyticsGraphType('area_chart', 'cost-analytics-feature-chart-0',featureProdData[0],featureProd[0])"></i></span>
                            <span class="chart hbar-chart"><img src="images/horizontal-bar.png"  ng-click="changeFeatureAnalyticsGraphType('horizontal_bar_chart', 'cost-analytics-feature-chart-0',featureProdData[0],featureProd[0])"></img></span>
                        </div>
                        <div class="dropdown cost-analytics-dropdown">
                            <ul>

                                <li>
                                    <a ng-click="zoomOut($event);"> <i class="fa fa-window-minimize"></i>
                                    </a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-redo-alt"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="goFullscreenOther($event)"> <i class="fa fa-expand"></i>
                                    </a>
                                </li>
                                <li ng-click="getOverallCostAnalytics()">
                                    <a> <i class="fa fa-refresh"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="addToFavourite(report_type, chartType, statisticsType)"> <i class="fa fa-heart" ng-class="{'added-fav' : addedFav}"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="cost-chart-filter">
                        <div class="year-filter">
                            <input type="radio" id="aa"  name="feature-chart-filter-1" ng-click="changeYearlyFeatureBtn('year',selectedYear1, selectedMonth1, featureProd[0])" ng-model="featurechartfilteryear1" />
                            <label>Year</label>
                            <select class="form-control"  id="feature-chart-filter-selectyear-1"  ng-model="featurechartfilterselectyear1"   ng-change="changeFeatureAnalyticsGraph(featurechartfilterselectyear1, featurechartfilterselectmonth1, featureProd[0],'cost-analytics-feature-chart-0')">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getYearlyList">{{item}}</option>
                            </select>
                        </div>
                        <div class="month-filter">
                            <input type="radio" id="sds" name="feature-chart-filter-1"  ng-model="featurechartfiltermonth1" ng-click="changeYearlyFeatureBtn('month',selectedYear1, selectedMonth1, featureProd[0])" />
                            <label>Month</label>
                            <select class="form-control" id="feature-chart-filter-month-1"  ng-model="featurechartfilterselectmonth1" ng-change="changeFeatureAnalyticsGraph(featurechartfilterselectmonth1, featurechartfilterselectmonth1, featureProd[0],'cost-analytics-feature-chart-0')">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getMonthList">{{item}}</option>
                            </select>
                        </div>
                         
                        

                    </div>
                    <div id="cost-analytics-feature-chart-0"></div>
                    
                    <div class="download-icon" ng-click="downloadChart($event)"><i class="fa fa-arrow-circle-down"></i></div>
                    <div class="resize-move" ng-mouseover="resizeMouseOver($event)"><i class="fa fa-arrows-alt"></i></div>
                </div>

            </div>

            <div class="col-sm-6 col-md-6 col-md-6 full-screen-view feature-chart chart-render" id="full-screen-view-4">

                <div class="pie-chart-container overall-report chart-container back-g-white half-bordered dashboard-box-shadow">
                    <div class="cost-chart-title">
                        <div class="chart-title-left">Total Expenditure
                            <span class="chart vbar-chart"><i class="fa fa-bar-chart" ng-click="changeFeatureAnalyticsGraphType('vertical_bar_chart','cost-analytics-feature-chart-1',featureProdData[1],featureProd[1])"></i></span>
                            <span class="chart pie-chart"><i class="fa fa-pie-chart" ng-click="changeFeatureAnalyticsGraphType('pie_chart','cost-analytics-feature-chart-1',featureProdData[1],featureProd[1])"></i></span>
                            <span class="chart line-chart"><i class="fa fa-line-chart" ng-click="changeFeatureAnalyticsGraphType('line_chart', 'cost-analytics-feature-chart-1',featureProdData[1],featureProd[1])"></i></span>
                            <span class="chart area-chart"><i class="fa fa-area-chart" ng-click="changeFeatureAnalyticsGraphType('area_chart', 'cost-analytics-feature-chart-1',featureProdData[1],featureProd[1])"></i></span>
                            <span class="chart hbar-chart"><img src="images/horizontal-bar.png"  ng-click="changeFeatureAnalyticsGraphType('horizontal_bar_chart', 'cost-analytics-feature-chart-1',featureProdData[1],featureProd[1])"></img></span>
                        </div>
                        <div class="dropdown cost-analytics-dropdown">
                            <ul>

                                <li>
                                    <a ng-click="zoomOut($event);"> <i class="fa fa-window-minimize"></i>
                                    </a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-redo-alt"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="goFullscreenOther($event)"> <i class="fa fa-expand"></i>
                                    </a>
                                </li>
                                <li ng-click="getOverallCostAnalytics()">
                                    <a> <i class="fa fa-refresh"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="addToFavourite(report_type, chartType, statisticsType)"> <i class="fa fa-heart" ng-class="{'added-fav' : addedFav}"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="cost-chart-filter">
                        <div class="year-filter">
                            <input type="radio" id="aa"  name="feature-chart-filter-2"  ng-model="featurechartfilteryear2" />
                            <label>Year</label>
                            <select class="form-control"  id="feature-chart-filter-selectyear-2"  ng-model="featurechartfilterselectyear2"   ng-change="changeFeatureAnalyticsGraph(featurechartfilterselectyear2, featurechartfilterselectmonth2, featureProd[1],'cost-analytics-feature-chart-1')">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getYearlyList">{{item}}</option>
                            </select>
                        </div>
                        <div class="month-filter">
                            <input type="radio" id="sds" name="feature-chart-filter-2"  ng-model="featurechartfiltermonth2"  />
                            <label>Month</label>
                            <select class="form-control" id="feature-chart-filter-month-2"  ng-model="featurechartfilterselectmonth2" ng-change="changeFeatureAnalyticsGraph(featurechartfilterselectyear2, featurechartfilterselectmonth2, featureProd[1],'cost-analytics-feature-chart-1')">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getMonthList">{{item}}</option>
                            </select>
                        </div>
                         
                        

                    </div>
                    <div id="cost-analytics-feature-chart-1"></div>
                    
                    <div class="download-icon" ng-click="downloadChart($event)"><i class="fa fa-arrow-circle-down"></i></div>
                    <div class="resize-move" ng-mouseover="resizeMouseOver($event)"><i class="fa fa-arrows-alt"></i></div>
                </div>

            </div>
             <div class="col-sm-6 col-md-6 col-md-6 full-screen-view feature-chart chart-render" id="full-screen-view-3">

                <div class="pie-chart-container overall-report chart-container back-g-white half-bordered dashboard-box-shadow">
                    <div class="cost-chart-title">
                        <div class="chart-title-left">Total Expenditure
                            <span class="chart vbar-chart"><i class="fa fa-bar-chart" ng-click="changeFeatureAnalyticsGraphType('vertical_bar_chart','cost-analytics-feature-chart-2',featureProdData[2],featureProd[2])"></i></span>
                            <span class="chart pie-chart"><i class="fa fa-pie-chart" ng-click="changeFeatureAnalyticsGraphType('pie_chart','cost-analytics-feature-chart-2',featureProdData[2],featureProd[2])"></i></span>
                            <span class="chart line-chart"><i class="fa fa-line-chart" ng-click="changeFeatureAnalyticsGraphType('line_chart', 'cost-analytics-feature-chart-2',featureProdData[2],featureProd[2])"></i></span>
                            <span class="chart area-chart"><i class="fa fa-area-chart" ng-click="changeFeatureAnalyticsGraphType('area_chart', 'cost-analytics-feature-chart-2',featureProdData[2],featureProd[2])"></i></span>
                            <span class="chart hbar-chart"><img src="images/horizontal-bar.png"  ng-click="changeFeatureAnalyticsGraphType('horizontal_bar_chart', 'cost-analytics-feature-chart-2',featureProdData[2],featureProd[2])"></img></span>
                        </div>
                        <div class="dropdown cost-analytics-dropdown">
                            <ul>

                                <li>
                                    <a ng-click="zoomOut($event);"> <i class="fa fa-window-minimize"></i>
                                    </a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-redo-alt"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="goFullscreenOther($event)"> <i class="fa fa-expand"></i>
                                    </a>
                                </li>
                                <li ng-click="getOverallCostAnalytics()">
                                    <a> <i class="fa fa-refresh"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="addToFavourite(report_type, chartType, statisticsType)"> <i class="fa fa-heart" ng-class="{'added-fav' : addedFav}"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="cost-chart-filter">
                        <div class="year-filter">
                            <input type="radio" id="feature-chart-filter-3"  name="feature-chart-filter-3"  ng-model="featurechartfilteryear3" />
                            <label>Year</label>
                            <select class="form-control"  id="feature-chart-filter-selectyear-3"  ng-model="featurechartfilterselectyear3"   ng-change="changeFeatureAnalyticsGraph(featurechartfilterselectyear3, featurechartfilterselectmonth3, featureProd[2],'cost-analytics-feature-chart-2')">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getYearlyList">{{item}}</option>
                            </select>
                        </div>
                        <div class="month-filter">
                            <input type="radio" id="feature-chart-filter-3" name="feature-chart-filter-3"  ng-model="featurechartfiltermonth3"  />
                            <label>Month</label>
                            <select class="form-control" id="feature-chart-filter-month-3"  ng-model="featurechartfilterselectmonth3" ng-change="changeFeatureAnalyticsGraph(featurechartfilterselectyear3, featurechartfilterselectmonth3, featureProd[2],'cost-analytics-feature-chart-2')">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getMonthList">{{item}}</option>
                            </select>
                        </div>
                         
                        

                    </div>
                    <div id="cost-analytics-feature-chart-2"></div>
                    
                    <div class="download-icon" ng-click="downloadChart($event)"><i class="fa fa-arrow-circle-down"></i></div>
                    <div class="resize-move" ng-mouseover="resizeMouseOver($event)"><i class="fa fa-arrows-alt"></i></div>
                </div>

            </div>
            <div class="col-sm-6 col-md-6 col-md-6 full-screen-view feature-chart chart-render" id="full-screen-view-4">

                <div class="pie-chart-container overall-report chart-container back-g-white half-bordered dashboard-box-shadow">
                    <div class="cost-chart-title">
                        <div class="chart-title-left">Total Expenditure
                            <span class="chart vbar-chart"><i class="fa fa-bar-chart" ng-click="changeFeatureAnalyticsGraphType('vertical_bar_chart','cost-analytics-feature-chart-3',featureProdData[3],featureProd[3])"></i></span>
                            <span class="chart pie-chart"><i class="fa fa-pie-chart" ng-click="changeFeatureAnalyticsGraphType('pie_chart','cost-analytics-feature-chart-3',featureProdData[3],featureProd[3])"></i></span>
                            <span class="chart line-chart"><i class="fa fa-line-chart" ng-click="changeFeatureAnalyticsGraphType('line_chart', 'cost-analytics-feature-chart-3',featureProdData[3],featureProd[3])"></i></span>
                            <span class="chart area-chart"><i class="fa fa-area-chart" ng-click="changeFeatureAnalyticsGraphType('area_chart', 'cost-analytics-feature-chart-3',featureProdData[3],featureProd[3])"></i></span>
                            <span class="chart hbar-chart"><img src="images/horizontal-bar.png"  ng-click="changeFeatureAnalyticsGraphType('horizontal_bar_chart', 'cost-analytics-feature-chart-3',featureProdData[3],featureProd[3])"></img></span>
                        </div>
                        <div class="dropdown cost-analytics-dropdown">
                            <ul>

                                <li>
                                    <a ng-click="zoomOut($event);"> <i class="fa fa-window-minimize"></i>
                                    </a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-redo-alt"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="goFullscreenOther($event)"> <i class="fa fa-expand"></i>
                                    </a>
                                </li>
                                <li ng-click="getOverallCostAnalytics()">
                                    <a> <i class="fa fa-refresh"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="addToFavourite(report_type, chartType, statisticsType)"> <i class="fa fa-heart" ng-class="{'added-fav' : addedFav}"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="cost-chart-filter">
                        <div class="year-filter">
                            <input type="radio" id="feature-chart-filter-4"  name="feature-chart-filter-4"  ng-model="featurechartfilteryear4" />
                            <label>Year</label>
                            <select class="form-control"  id="feature-chart-filter-selectyear-4"  ng-model="featurechartfilterselectyear4"   ng-change="changeFeatureAnalyticsGraph(featurechartfilterselectyear4, featurechartfilterselectmonth4, featureProd[3],'cost-analytics-feature-chart-3')">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getYearlyList">{{item}}</option>
                            </select>
                        </div>
                        <div class="month-filter">
                            <input type="radio" id="feature-chart-filter-4" name="feature-chart-filter-4"  ng-model="featurechartfiltermonth4"  />
                            <label>Month</label>
                            <select class="form-control" id="feature-chart-filter-month-4"  ng-model="featurechartfilterselectmonth4" ng-change="changeFeatureAnalyticsGraph(featurechartfilterselectyear4, featurechartfilterselectmonth4, featureProd[3],'cost-analytics-feature-chart-3')">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getMonthList">{{item}}</option>
                            </select>
                        </div>
                         
                        

                    </div>
                    <div id="cost-analytics-feature-chart-3"></div>
                    
                    <div class="download-icon" ng-click="downloadChart($event)"><i class="fa fa-arrow-circle-down"></i></div>
                    <div class="resize-move" ng-mouseover="resizeMouseOver($event)"><i class="fa fa-arrows-alt"></i></div>
                </div>

            </div>
            <div class="col-sm-6 col-md-6 col-md-6 full-screen-view feature-chart chart-render" id="full-screen-view-5">

                <div class="pie-chart-container overall-report chart-container back-g-white half-bordered dashboard-box-shadow">
                    <div class="cost-chart-title">
                        <div class="chart-title-left">Total Expenditure
                            <span class="chart vbar-chart"><i class="fa fa-bar-chart" ng-click="changeFeatureAnalyticsGraphType('vertical_bar_chart','cost-analytics-feature-chart-4',featureProdData[4],featureProd[4])"></i></span>
                            <span class="chart pie-chart"><i class="fa fa-pie-chart" ng-click="changeFeatureAnalyticsGraphType('pie_chart','cost-analytics-feature-chart-4',featureProdData[4],featureProd[4])"></i></span>
                            <span class="chart line-chart"><i class="fa fa-line-chart" ng-click="changeFeatureAnalyticsGraphType('line_chart', 'cost-analytics-feature-chart-4',featureProdData[4],featureProd[4])"></i></span>
                            <span class="chart area-chart"><i class="fa fa-area-chart" ng-click="changeFeatureAnalyticsGraphType('area_chart', 'cost-analytics-feature-chart-4',featureProdData[4],featureProd[4])"></i></span>
                            <span class="chart hbar-chart"><img src="images/horizontal-bar.png"  ng-click="changeFeatureAnalyticsGraphType('horizontal_bar_chart', 'cost-analytics-feature-chart-4',featureProdData[4],featureProd[4])"></img></span>
                        </div>
                        <div class="dropdown cost-analytics-dropdown">
                            <ul>

                                <li>
                                    <a ng-click="zoomOut($event);"> <i class="fa fa-window-minimize"></i>
                                    </a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-redo-alt"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="goFullscreenOther($event)"> <i class="fa fa-expand"></i>
                                    </a>
                                </li>
                                <li ng-click="getOverallCostAnalytics()">
                                    <a> <i class="fa fa-refresh"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="addToFavourite(report_type, chartType, statisticsType)"> <i class="fa fa-heart" ng-class="{'added-fav' : addedFav}"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="cost-chart-filter">
                        <div class="year-filter">
                            <input type="radio" id="feature-chart-filter-5"  name="feature-chart-filter-5"  ng-model="featurechartfilteryear5" />
                            <label>Year</label>
                            <select class="form-control"  id="feature-chart-filter-selectyear-5"  ng-model="featurechartfilterselectyear5"   ng-change="changeFeatureAnalyticsGraph(featurechartfilterselectyear5, featurechartfilterselectmonth5, featureProd[4],'cost-analytics-feature-chart-4')">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getYearlyList">{{item}}</option>
                            </select>
                        </div>
                        <div class="month-filter">
                            <input type="radio" id="feature-chart-filter-5" name="feature-chart-filter-5"  ng-model="featurechartfiltermonth4"  />
                            <label>Month</label>
                            <select class="form-control" id="feature-chart-filter-month-5"  ng-model="featurechartfilterselectmonth5" ng-change="changeFeatureAnalyticsGraph(featurechartfilterselectyear5, featurechartfilterselectmonth5, featureProd[4],'cost-analytics-feature-chart-4')">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getMonthList">{{item}}</option>
                            </select>
                        </div>
                         
                        

                    </div>
                    <div id="cost-analytics-feature-chart-4"></div>
                    
                    <div class="download-icon" ng-click="downloadChart($event)"><i class="fa fa-arrow-circle-down"></i></div>
                    <div class="resize-move" ng-mouseover="resizeMouseOver($event)"><i class="fa fa-arrows-alt"></i></div>
                </div>

            </div>
            
        </div>
    </div>

</div>
<footer ng-include="'views/partials/footer.html'"></footer>