<header ng-include="'views/partials/header.html'"></header>
<div class="sidebar-panel" ng-class="{'expand': expandNav}">
    <div ng-include="'views/partials/sidebar.html'"></div>
</div>
<div class="setting-container body-container" ng-class="{'expand':expandNav}">
    <div class="mar-bot-20"><button class="btn btn-primary"><i class="fa fa-user"></i></button> <label class="setting-header">Setting</label></div>
        <div class="mar-bot-50 back-g-white">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li ng-class="{active:tab==1}"><a href ng-click="setTab(1)">Add Department</a></li>
                        <li ng-class="{active:tab==2}"><a href ng-click="setTab(2)">Department Manager</a></li>
                        <li ng-class="{active:tab==3}"><a href ng-click="setTab(3)">Total Users</a></li>
                        <li ng-class="{active:tab==4}"><a href ng-click="setTab(4)">Add Shift Time</a></li>
                        <li ng-class="{active:tab==5}"><a href ng-click="setTab(5)">Delete a Shift </a></li>
                    </ul>
                    <div class="message-container pad-left-20">
                        <div class="pad-top-20 error-msg" ng-if="error">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>{{error}}</span>
                        </div>
                        <div class="pad-top-20 success-msg" ng-if="successMsg">
                                <i class="fa fa-check"></i>
                            <span>{{successMsg}}</span>
                        </div>
                    </div> 
                    <div ng-show="tab==1">
                        <div class="mar-top-20 col-sm-12">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="userName">Department Name</label>
                                    <input  type="text" id="userName" ng-model="department.department" class="form-control" placeholder="Enter Department Name" />
                                    <button class="btn btn-dyna mar-left-50" ng-click="addDepartment()">Submit</button>
                                </div>
                            </form>
                        </div>
                        <div class="mar-top-20 col-sm-9">
                            <table class="table table-striped table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                    <th scope="col" class="text-center">Departments Name</th>
                                    <th scope="col" class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center" ng-repeat="department in departments track by department.id">
                                    <td>{{department.department_name}}</td>
                                    <td>
                                        <!--<button class="btn  btn-primary btn-table" ng-click="editDepartment(department.id)">Edit</button>-->
                                        <button class="btn  btn-danger btn-table" data-toggle="modal" data-target="#deleteDeptModal" ng-click="deleteDepartmentConf(department.id,department.department_name    )">Delete</button>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mar-top-20 col-sm-9">
                            <table class="table table-striped table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                    <th scope="col" class="text-center">Software Name</th>
                                    <th scope="col" class="text-center">Tokens</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center" ng-repeat="license in licenses">
                                    <td>{{license.product_name}}</td>
                                    <td>
                                        <button class="btn  btn-primary btn-table">Total - {{license.total_license}}</button>
                                        <button class="btn  btn-danger btn-table">Used - {{license.total_license - license.license_remaining}}</button>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-show="tab==2">
                        <div class="mar-top-20 col-sm-9">
                            <table class="table table-striped table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                    <th scope="col" class="text-center">Name</th>
                                    <th scope="col" class="text-center">Email ID</th>
                                    <th scope="col" class="text-center">Department</th>
                                    <th scope="col" class="text-center">Status</th>
                                    <th scope="col" class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center" ng-repeat="deptManager in deptManagers track by deptManager.id">
                                    <td>{{deptManager.name}}</td>
                                    <td>{{deptManager.email}}</td>
                                    <td>{{deptManager.department}}</td>
                                    <td>{{deptManager.admin_approved?'Confirmed':'Pending'}}</td>
                                    <td>
                                        <table class="table-inner">
                                            <tbody>
                                            <tr>
                                                <td class="text-center">
                                                    <button class="btn  btn-primary btn-table" ng-click="approveDeptManager(deptManager.id)" ng-disabled="deptManager.admin_approved">Confirm</button>                                                
                                                </td>
                                                <td>
                                                    <button class="btn  btn-warning btn-table" ng-click="blockDeptManager(deptManager.id)" ng-disabled="!deptManager.admin_approved">Block</button>
                                                </td>
                                                <td>
                                                    <button class="btn  btn-danger btn-table" data-toggle="modal" data-target="#deleteManagerModal" ng-click="deleteDeptManagerConf(deptManager.id,deptManager.name)">Delete</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-show="tab==3">
                        <div class="mar-top-20 col-sm-9">
                            <table class="table table-striped table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                    <th scope="col" class="text-center">Name</th>
                                    <th scope="col" class="text-center">Email ID</th>
                                    <th scope="col" class="text-center">Department</th>
                                    <th scope="col" class="text-center">Action</th>
                                    <th scope="col" class="text-center">Transfer Department</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center" ng-repeat="user in usersList track by user.id">
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.department}}</td>
                                    <td>
                                        <button class="btn btn-warning btn-table" ng-if="user.verified" ng-click="blockUser(user.id)">Block</button>
                                        <button class="btn btn-warning btn-table" ng-if="!user.verified" ng-click="unBlockUser(user.id)">UnBlock</button>
                                    </td>
                                    <td>
                                        <table class="table-inner">
                                            <tbody>
                                            <tr>
                                                <td class="text-center">
                                                    <div class="btn-group">
                                                        <select class="btn btn-default btn-table btn-drop"  ng-options="dept.department for dept in transDepartments track by dept.department"
                                                            ng-model="user.todepartment">
                                                            <option value="" disabled selected="selected">Department</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="btn  btn-primary btn-table" ng-click="transferUser(user)">Transfer</button><br/>
                                                    <button class="btn  btn-danger btn-table mar-top-10" data-toggle="modal" data-target="#deleteUserModal" ng-click="deleteUserConf(user.id,user.name)">Delete</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-show="tab==4">
                        <div class="mar-top-20 col-sm-9">
                            <div class="mar-top-20 col-sm-12 pad-bot-20">
                                <div class="well">
                                    <p>
                                        Use arrow keys (Up,Down,Left,Right,TAB) to navigate and change time.
                                    </p>
                                </div>

                                <label>
                                    Shift Name
                                    <input class="form-control" ng-model="shiftName" placeholder="Enter Shift Name"  required>
                                </label>
                                <label>
                                    Start Time
                                    <input class="form-control"  ng-model="shiftStart" ps-input-time required>
                                </label>
                                <label>
                                    End Time
                                    <input class="form-control" min="shiftStart" ng-model="shiftEnd" ps-input-time required>
                                </label>
                                <button type="button" class="btn btn-primary" ng-click="addThisWeekShift(shiftName,shiftStart,shiftEnd)">Submit</button>
                                <div class="alert alert-danger mar-top-20" ng-if="shiftFieldValidation">
                                   Please Enter Shift Name / Shift Start / Shift End Date
                                </div>
                                <div class="alert alert-success mar-top-20" ng-if="shiftCreated">
                                    Shift Added Successfully.
                                </div>
                            
                        </div>
                    </div>
                    
                </div>
                <div ng-show="tab==5">
                        <div class="mar-top-20 col-sm-9">
                            <div class="mar-top-20 col-sm-12 pad-bot-20">
                                <!--<div class="well">
                                    <p>
                                        Use arrow keys (Up,Down,Left,Right,TAB) to navigate and change time.
                                    </p>
                                </div>-->

                                <label>
                                    Select a  Shift
                                    <select class="form-control" ng-model="selectedShift" ng-options="item.shift_name for item in shiftList" ng-change="thisWeekShiftChange(selectedShift)">
                                    </select>
                                    
                                </label>
                               
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteShiftModal" ng-click="deleteShiftByIdConf(selectedShift.id,selectedShift.shift_name)">Submit</button>
                                <!--<div class="alert alert-danger mar-top-20" ng-if="shiftFieldValidation">
                                   Please Enter Shift Name / Shift Start / Shift End Date
                                </div>-->
                                <div class="alert alert-danger mar-top-20" ng-if="shiftDeleted">
                                    Selected shift is Deleted
                                </div>
                            
                        </div>
                 </div>
            </div>
        </div>
    </div>
</div>
<footer ng-include="'views/partials/footer.html'"></footer>
<!-- Modal -->
<div class="modal fade" id="deleteDeptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header" style="border:none;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Delete Department</h4>
        </div>
        <div class="modal-body">
            Are you sure to delete the department {{deleteDept}} ?
        </div>
        <div class="modal-footer" style="border:none;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" ng-click="deleteDepartment()">Delete</button>
        </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteManagerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header" style="border:none;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Delete Department Manager</h4>
        </div>
        <div class="modal-body">
            Are you sure to delete the department manager {{deleteDeptManagerName}} ?
        </div>
        <div class="modal-footer" style="border:none;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" ng-click="deleteDeptManager()">Delete</button>
        </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header" style="border:none;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete User</h4>
            </div>
            <div class="modal-body">
                Are you sure to delete the user {{deleteUserName}} ?
            </div>
            <div class="modal-footer" style="border:none;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" ng-click="deleteUser()">Delete</button>
            </div>
            </div>
        </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteShiftModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header" style="border:none;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Shift</h4>
            </div>
            <div class="modal-body">
                Are you sure to delete the shift {{deleteShiftName}} ?
            </div>
            <div class="modal-footer" style="border:none;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" ng-click="deleteShiftById()">Delete</button>
            </div>
            </div>
        </div>
    </div>