<header ng-include="'views/partials/header.html'"></header>
<div class="sidebar-panel" ng-class="{'expand': expandNav}">
    <div ng-include="'views/partials/sidebar.html'"></div>
</div>

<div class="report-container body-container" ng-class="{'expand':expandNav}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-6 full-screen-view" id="full-screen-view">

                <div class="pie-chart-container overall-report chart-container back-g-white half-bordered dashboard-box-shadow">
                    <div class="cost-chart-title">
                        <div class="chart-title-left">Total Expenditure
                            <span class="chart vbar-chart"><i class="fa fa-bar-chart" ng-click= "changeCostAnalyticsGraph('vertical_bar_chart')"></i></span>
                            <span class="chart pie-chart"><i class="fa fa-pie-chart" ng-click= "changeCostAnalyticsGraph('pie_chart')"></i></span>
                            <span class="chart line-chart"><i class="fa fa-line-chart" ng-click= "changeCostAnalyticsGraph('line_chart')"></i></span>
                            <span class="chart area-chart"><i class="fa fa-area-chart" ng-click= "changeCostAnalyticsGraph('area_chart')"></i></span>
                            <span class="chart hbar-chart"><img src="images/horizontal-bar.png" class="" ng-click= "changeCostAnalyticsGraph('horizontal_bar_chart')"></img></span>

                        </div>
                        <div class="dropdown cost-analytics-dropdown">
                            <ul>

                                <li>
                                    <a ng-click="zoomOut($event);"> <i class="fa fa-window-minimize"></i>
                                    </a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-redo-alt"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="goFullscreen()"> <i class="fa fa-expand"></i>
                                    </a>
                                </li>
                                <li ng-click="getOverallCostAnalytics()">
                                    <a> <i class="fa fa-refresh"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="addToFavourite(report_type, chartType, statisticsType)"> <i class="fa fa-heart" ng-class="{'added-fav' : addedFav}"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="cost-chart-filter">
                        <div class="year-filter">
                            <input type="radio" name ="chart-filter-1" ng-model="selectedRadio1" />
                            <label>Yearly</label>
                            <select class="form-control" id="year1" ng-model="selectedYear1" data-attr={{selectedRadio1}}  ng-change="changeCostAnalyticsGraph1(selectedYear1, selectedMonth1, typeOfLicense)">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getYearlyList">{{item}}</option>
                            </select>
                        </div>
                        <div class="month-filter">
                            <input type="radio" name ="chart-filter-1" ng-model="selectedRadio2" />
                            <label>Monthly</label>
                            <select class="form-control" id="month1" ng-model="selectedMonth1" ng-change="changeCostAnalyticsGraph1(selectedYear1, selectedMonth1, typeOfLicense)">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getMonthList">{{item}}</option>
                            </select>
                        </div>
                         <div class="license-filter">
                            <input type="radio" name ="chart-filter-1" ng-model="selectedRadio3"/>
                            <label>Type of License</label>
                            <select class="form-control" id="typeOfLicense" ng-model="typeOfLicense" ng-change="changeCostAnalyticsGraph1(selectedYear1, selectedMonth1, typeOfLicense)">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getLicenseList">{{item}}</option>
                            </select>
                        </div>
                        

                    </div>

                    <div id="cost-analytics-chart-1"></div>

                    <div class="download-icon" ng-click="downloadChart($event)"><i class="fa fa-arrow-circle-down"></i></div>
                </div>

            </div>
            <div class="col-sm-6 col-md-6 col-md-6 full-screen-view" id="full-screen-view">

                <div class="pie-chart-container overall-report chart-container back-g-white half-bordered dashboard-box-shadow">
                    <div class="cost-chart-title">
                        <div class="chart-title-left">Total Expenditure
                            <span class="chart vbar-chart"><i class="fa fa-bar-chart" ng-click="changeCostAnalyticsGraph('vertical_bar_chart','2')"></i></span>
                            <span class="chart pie-chart"><i class="fa fa-pie-chart" ng-click="changeCostAnalyticsGraph('pie_chart','2')"></i></span>
                            <span class="chart line-chart"><i class="fa fa-line-chart" ng-click="changeCostAnalyticsGraph('line_chart', '2')"></i></span>
                            <span class="chart area-chart"><i class="fa fa-area-chart" ng-click="changeCostAnalyticsGraph('area_chart', '2')"></i></span>
                            <span class="chart hbar-chart"><img src="images/horizontal-bar.png"  ng-click="changeCostAnalyticsGraph('horizontal_bar_chart', '2')"></img></span>
                        </div>
                        <div class="dropdown cost-analytics-dropdown">
                            <ul>

                                <li>
                                    <a ng-click="zoomOut($event);"> <i class="fa fa-window-minimize"></i>
                                    </a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-redo-alt"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="goFullscreen()"> <i class="fa fa-expand"></i>
                                    </a>
                                </li>
                                <li ng-click="getOverallCostAnalytics()">
                                    <a> <i class="fa fa-refresh"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="addToFavourite(report_type, chartType, statisticsType)"> <i class="fa fa-heart" ng-class="{'added-fav' : addedFav}"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div id="cost-analytics-chart-2"></div>
                    
                    <div class="download-icon" ng-click="downloadChart($event)"><i class="fa fa-arrow-circle-down"></i></div>
                </div>

            </div>

            <div class="col-sm-6 col-md-6 col-md-6 full-screen-view" id="full-screen-view" ng-repeat="item in getProductList track by $index" ng-if="getProductList.length">

                <div class="pie-chart-container overall-report chart-container back-g-white half-bordered dashboard-box-shadow">
                    <div class="cost-chart-title">
                        <div class="chart-title-left">Total Expenditure
                            <span class="chart vbar-chart"><i class="fa fa-bar-chart" ng-click="changeCostAnalyticsGraph('vertical_bar_chart','2')"></i></span>
                            <span class="chart pie-chart"><i class="fa fa-pie-chart" ng-click="changeCostAnalyticsGraph('pie_chart','2')"></i></span>
                            <span class="chart line-chart"><i class="fa fa-line-chart" ng-click="changeCostAnalyticsGraph('line_chart', '2')"></i></span>
                            <span class="chart area-chart"><i class="fa fa-area-chart" ng-click="changeCostAnalyticsGraph('area_chart', '2')"></i></span>
                            <span class="chart hbar-chart"><img src="images/horizontal-bar.png"  ng-click="changeCostAnalyticsGraph('horizontal_bar_chart', '2')"></img></span>
                        </div>
                        <div class="dropdown cost-analytics-dropdown">
                            <ul>

                                <li>
                                    <a ng-click="zoomOut($event);"> <i class="fa fa-window-minimize"></i>
                                    </a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-redo-alt"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="goFullscreen()"> <i class="fa fa-expand"></i>
                                    </a>
                                </li>
                                <li ng-click="getOverallCostAnalytics()">
                                    <a> <i class="fa fa-refresh"></i>
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="addToFavourite(report_type, chartType, statisticsType)"> <i class="fa fa-heart" ng-class="{'added-fav' : addedFav}"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="cost-chart-filter">
                        <div class="year-filter">
                            <input type="radio" name ="chart-filter-1" ng-model="selectedRadio1" />
                            <label>Yearly</label>
                            <select class="form-control" id="year1" ng-model="selectedYear1" data-attr={{selectedRadio1}}  ng-change="changeFeatureAnalyticsGraph(selectedYear1, selectedMonth1, $index)">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getYearlyList">{{item}}</option>
                            </select>
                        </div>
                        <div class="month-filter">
                            <input type="radio" name ="chart-filter-1" ng-model="selectedRadio2" />
                            <label>Monthly</label>
                            <select class="form-control" id="month1" ng-model="selectedMonth1" ng-change="changeFeatureAnalyticsGraph(selectedYear1, selectedMonth1, $index)">
                                <option style="display:none" value="">Overall</option>
                                <option ng-repeat="item in getMonthList">{{item}}</option>
                            </select>
                        </div>
                         
                        

                    </div>

                    <div id="{{ 'cost-analytics-feature-chart-' + $index }}"></div>
                    
                    <div class="download-icon" ng-click="downloadChart($event)"><i class="fa fa-arrow-circle-down"></i></div>
                </div>

            </div>

        </div>
    </div>

</div>
<footer ng-include="'views/partials/footer.html'"></footer>