<header ng-include="'views/partials/header.html'"></header>
<div class="sidebar-panel" ng-class="{'expand': expandNav}">
    <div ng-include="'views/partials/sidebar.html'"></div>
</div>
<div class="setting-container body-container" ng-class="{'expand':expandNav}">
    <div class="mar-bot-20"><button class="btn btn-primary"><i class="fa fa-user"></i></button>
         <label class="setting-header">Cost Calculator</label></div>
    <div class="pad-20 mar-bot-50 back-g-white">
        <div class="row">
            <form class="form-inline">
            <div class="col-sm-6 setting-left calculator">
                    <div class="form-group">
                            <label>Name of Software</label>
                            <select class="form-control" ng-model="purchaseObj.software_name">
                                    <option value="">Select Software Name</option>
                                    <option value="ALTAIR"> ALTAIR</option>
                            </select>
                    </div>
                    <div class="form-group mar-top-20">
                        <label>Type of Licenses</label>
                        <select class="form-control" ng-model="purchaseObj.license_type">
                                <option value="">Select License Type</option>
                                <option value="perpetual"> Perpetual</option>
                                <option value="lease"> Lease</option>
                        </select>
                    </div>
                    <div class="form-group mar-top-20">
                        <label for="pcost">Purchase Cost</label>
                        <input  type="number" id="pcost" class="form-control" ng-model="purchaseObj.purchase_cost" placeholder="Enter Purchase Cost" />
                    </div>
                
            </div>
            <div class="col-sm-6 setting-right calculator">
                    <div class="form-group">
                        <label for="datep">Date of Purchase </label>
                        <input  type="date" id="datep" ng-model="purchaseObj.year_of_purchase" class="form-control" placeholder="DD-MM-YYYY" />
                    </div>
                    <div class="form-group mar-top-20">
                        <label for="noLicense">No Of Licenses</label>
                        <input type="number" id="noLicense" ng-model="purchaseObj.licenses_purchased" class="form-control" placeholder="Enter total no license purchased" />
                    </div>
                    <div class="form-group mar-top-20" ng-if="purchaseObj.license_type=='lease'">
                        <label for="noLicense">Lesso Months</label>
                        <input type="number " id="noLicense" ng-model="purchaseObj.lease_months" class="form-control" placeholder="Enter total no license purchased" />
                    </div>
                    <div class="text-center mar-top-20">
                            <button  class="btn login-button btn-smtp" ng-click="updatePurchaseDetails()" > SUBMIT </button>
                    </div>
            </div>
            
        </form>
        <div class="col-sm-12 mar-top-20">
            <div class="message-container">
                <div class="pad-top-20 error-msg" ng-if="error">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span>{{error}}</span>
                </div>
                <div class="pad-top-20 success-msg" ng-if="successMsg">
                        <i class="fa fa-check"></i>
                    <span>{{successMsg}}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 mar-top-50">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col" class="text-center"">Software Name</th>
                    <th scope="col" class="text-center">Date of Purchase</th>
                    <th scope="col" class="text-center">Type of Licenses</th>
                    <th scope="col" class="text-center">Lesso Months</th>
                    <th scope="col" class="text-center">No fo Licenses</th>
                    <th scope="col" class="text-center">Purchase Cost(INR)</th>
                    <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" ng-repeat="purchase in purchases track by purchase.id">
                    <td>{{purchase.software_name}}</td>
                    <td>{{purchase.date_of_purchase | date:'dd-MM-yyyy'}}</td>
                    <td>{{purchase.type_of_license}}</td>
                    <td>
                        {{purchase.lease_months}}
                    </td>
                    <td> {{purchase.number_of_licenses}} </td>
                    <td> {{purchase.purchase_cost}} </td>
                    <td>
                        <button class="btn btn-danger btn-table" ng-click="deletePurchase(purchase.id)">Delete</button>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
<footer ng-include="'views/partials/footer.html'"></footer>