<header ng-include="'views/partials/header.html'"></header>
<div class="sidebar-panel" ng-class="{'expand': expandNav}">
    <div ng-include="'views/partials/sidebar.html'"></div>
</div>
<div class="setting-container body-container dyna" ng-class="{'expand':expandNav}">
    <div class="mar-bot-20">
        <button class="btn btn-primary"><i class="fa fa-columns"></i></button>
        <label class="setting-header">Dyna Compares</label>
    </div>
    <div class="pad-bot-20">
        <div class="row">
            <div class="col-sm-7">
                <div class=" back-g-white pad-20">
                    <form class="form-inline">
                        <div class="height-250">
                            <div class="first-compare compare calculator">
                                <div class="form-group">
                                    <select class="form-control mar-top-20" ng-options="product.product_name for product in productsList track by product.product_name" ng-model="dynaObj">
                                        <option value="" disabled selected="selected">Select Product</option>
                                    </select>
                                </div>
                            </div>

                            <div class="first-compare compare">
                                <div class="row">
                                    <div class="col-sm-12 mar-top-20" ng-if="!prodFeatures.length">
                                        {{emptyMsg}}
                                    </div>
                                    <div class="col-sm-4 mar-top-20 feature" ng-repeat="feature in prodFeatures | unique : 'feature_name' track by feature.feature_name">
                                        <input type="checkbox" id="{{feature.feature_name+1}}"  ng-model="feature.status" aria-label="">
                                        <label style="max-width:82%;overflow-wrap: break-word;"  for="{{feature.feature_name+1}}">{{feature.feature_name}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mar-top-50 text-center">
                            <button class="btn btn-dyna btn-profile" ng-click="addFeatures()"> ADD </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-5">
                <div class=" back-g-white pad-20" ng-show="features_lists.length">
                    <form class="form-inline">
                        <div class="height-250">
                            <div class="first-compare compare">
                                <div class="row">
                                    <div class="col-sm-6 mar-top-20 feature" ng-repeat="feature in features_lists track by $index ">
                                        <input type="checkbox" id="{{feature+1}}" checked="checked" ng-disabled="true" aria-label="">
                                        <label style="max-width:82%;overflow-wrap: break-word;" for="{{feature+1}}">{{feature}}</label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="message-container" ng-if="error || successMsg" style="min-height:50px;position: absolute;
                            bottom: 55px;">
                            <div class="pad-top-20 error-msg" ng-if="error">
                                <i class="fa fa-exclamation-triangle"></i>
                                <span>{{error}}</span>
                            </div>
                            <div class="pad-top-20 success-msg" ng-if="successMsg">
                                <i class="fa fa-check"></i>
                                <span>{{successMsg}}</span>
                            </div>
                        </div>
                        <div class="mar-top-50 text-center">
                            <button class="btn btn-dyna btn-fixed" ng-click="postFeaturesList()"> COMPARE </button>
                            <button class="btn btn-dyna btn-fixed" ng-click="clearCompare()"> CLEAR </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 full-screen-view dyna-compare-chart chart-hide chart-show-0"  id="full-screen-view"> 

        <div class="pie-chart-container chart-container back-g-white half-bordered">
            <!--<div id="{{ 'dyna-compare-chart-'+ $index}}" ></div>-->
            <div id="dyna-compare-chart-0" ></div>
            

        </div>
    </div>
    <div class="col-sm-12 full-screen-view dyna-compare-chart chart-hide chart-show-1"  id="full-screen-view" > 

        <div class="pie-chart-container chart-container back-g-white half-bordered">
            <!--<div id="{{ 'dyna-compare-chart-'+ $index}}" ></div>-->
            <div id="dyna-compare-chart-1"></div>
            

        </div>
    </div>
    <div class="col-sm-12 full-screen-view dyna-compare-chart chart-hide chart-show-2"  id="full-screen-view" > 

        <div class="pie-chart-container chart-container back-g-white half-bordered">
            <!--<div id="{{ 'dyna-compare-chart-'+ $index}}" ></div>-->
            <div id="dyna-compare-chart-2"></div>
            

        </div>
    </div>
    <div class="col-sm-12 full-screen-view dyna-compare-chart chart-hide chart-show-3"  id="full-screen-view" > 

        <div class="pie-chart-container chart-container back-g-white half-bordered">
            <!--<div id="{{ 'dyna-compare-chart-'+ $index}}" ></div>-->
            <div id="dyna-compare-chart-3"></div>
            

        </div>
    </div>
    <div class="col-sm-12 full-screen-view dyna-compare-chart chart-hide chart-show-4"  id="full-screen-view" > 

        <div class="pie-chart-container chart-container back-g-white half-bordered">
            <!--<div id="{{ 'dyna-compare-chart-'+ $index}}" ></div>-->
            <div id="dyna-compare-chart-4"></div>
            

        </div>
    </div>
    <div class="col-sm-12 full-screen-view dyna-compare-chart chart-hide chart-show-5"   id="full-screen-view" > 

        <div class="pie-chart-container chart-container back-g-white half-bordered">
            <!--<div id="{{ 'dyna-compare-chart-'+ $index}}" ></div>-->
            <div id="dyna-compare-chart-5"></div>
            

        </div>
    </div>
    <div class="col-sm-12 full-screen-view dyna-compare-chart chart-hide chart-show-6"  id="full-screen-view" > 

        <div class="pie-chart-container chart-container back-g-white half-bordered">
            <!--<div id="{{ 'dyna-compare-chart-'+ $index}}" ></div>-->
            <div id="dyna-compare-chart-6"></div>
            

        </div>
    </div>
    <div class="col-sm-12 full-screen-view dyna-compare-chart chart-hide chart-show-7"  id="full-screen-view" > 

        <div class="pie-chart-container chart-container back-g-white half-bordered">
            <!--<div id="{{ 'dyna-compare-chart-'+ $index}}" ></div>-->
            <div id="dyna-compare-chart-7"></div>
            

        </div>
    </div>
     <div class="col-sm-12 full-screen-view dyna-compare-chart chart-hide chart-show-8"  id="full-screen-view" > 

        <div class="pie-chart-container chart-container back-g-white half-bordered">
            <!--<div id="{{ 'dyna-compare-chart-'+ $index}}" ></div>-->
            <div id="dyna-compare-chart-8"></div>
            

        </div>
    </div>
     <div class="col-sm-12 full-screen-view dyna-compare-chart chart-hide chart-show-9"  id="full-screen-view" > 

        <div class="pie-chart-container chart-container back-g-white half-bordered">
            <!--<div id="{{ 'dyna-compare-chart-'+ $index}}" ></div>-->
            <div id="dyna-compare-chart-9"></div>
            

        </div>
    </div>


</div>


    

    
    <footer ng-include="'views/partials/footer.html'"></footer>