<header ng-include="'views/partials/header.html'"></header>
<div class="sidebar-panel" ng-class="{'expand': expandNav}">
    <div ng-include="'views/partials/sidebar.html'"></div>
</div>
<div class="setting-container body-container" ng-class="{'expand':expandNav}">
    <div class="mar-bot-20"><button class="btn btn-primary"><i class="fa fa-user"></i></button>
         <label class="setting-header">Machine Names</label></div>
    <div class="pad-20 back-g-white">
        <div class="row">
            <form class="form-inline">
            <div class="col-sm-12" style="padding-left: 312px;">
            <div class="col-sm-6 setting-left smtp clearfix">
                    <div class="form-group mar-top-20 ">
                        <label>LSTC</label>
                        <input  type="text" id="lstc" ng-model="machinesObj.lstc"  class="form-control" placeholder="Enter LSTC Machine name" />
                    </div>
                    <div class="form-group mar-top-20">
                        <label>ALTAIR</label>
                        <input  type="text" id="altair" ng-model="machinesObj.altair"  class="form-control" placeholder="Enter ALTAIR Machine name" />
                    </div>
                    <div class="form-group mar-top-20">
                        <label>MSC</label>
                        <input  type="text" id="msc" ng-model="machinesObj.msc"  class="form-control" placeholder="Enter MSC Machine name" />
                    </div>
					<div class="form-group mar-top-20">
                        <label>BETA CAE</label>
                        <input  type="text" id="beta_cae" ng-model="machinesObj.beta_cae"  class="form-control" placeholder="Enter BETA CAE Machine name" />
                    </div>
					
					
					
					
					</div>
           
           
           
            <div class="col-sm-6  mar-top-50" style="clear: both;margin-left: 194px;">
							<button  class="btn login-button btn-smtp btn-primary" ng-click="updateMachineNames()" > SUBMIT </button>
			</div> 
            <div class="alert alert-success col-sm-5 machineSuccess" ng-if="successMachine.success" style="clear: both;margin-top: 20px;">
                <strong>Success!</strong>  {{successMachine.message}}
            </div>
            </div>
            
            
            

        </form>
        <div class="col-sm-4 col-sm-offset-4 mar-top-20">
            <!--
			<form>
                    <input type="email"  class="form-control" ng-model="smtpTest.email" placeholder="Enter Email ID" />
                    <div class="text-center mar-top-20">
                            <button  class="btn login-button btn-smtp" ng-click="testSmtpMail()" > Send Test Mail </button>
                    </div>
            </form>
			-->
        </div>
        </div>
    </div>
</div>
<footer ng-include="'views/partials/footer.html'"></footer>