<div class="lupa-login-container">
    <div class="lupa-logo-container">

    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="button-container">
                    <button class="logi-button">ADMIN LOGIN</button>
                    <button class="logi-button">DEPARTMENT LOGIN</button>
                    <button class="logi-button active">USER LOGIN</button>
                </div>
                <div class="login-img"></div>
            </div>
            <div class="col-sm-6">
                <div class="login-label"></div>
                <div class="form-container">
                    <form>
                        <input  type="text" class="form-control" placeholder="Enter Email ID" />
                        <input type="password" class="form-control" placeholder="Enter Password" />
                        <input type="submit"  class="form-control" value="LOGIN" class="login-submit" />
                        <a href="javascript:void(0)">Forgot your password?</a>
                        <span class="Register-link">Don't have account</span> <a href="javascript:void(0)">Register here</a>
                    </form>
                </div>
                
            </div>
            
        </div>

    </div>
</div>