<div class="lupa-login-container">
    <div class="lupa-logo-container  text-center mar-bot-10">
        <img class="" src="images/login-logo.png" title="Logo" alt="Logo" />
    </div>
    <div class="container login-container pad-top-50 pad-bot-20">
        <div class="row">
            <div class="col-sm-6 login-left">
                <div class="button-container pad-top-10">
                    <button class="btn login-button"><a href="#/admin">ADMIN LOGIN </a></button>
                    <button class="btn login-button current"><a href="#/manager" ng-click="getLoginForm()">DEPARTMENT LOGIN</a></button>
                    <button class="btn login-button"><a href="#/">USER LOGIN</a></button>
                </div>
                <div class="login-img mar-top-20">
                    <img class="img-responsive" src="images/login-img.png" title="Logo" alt="Logo" />
                </div>
            </div>
            <div class="col-sm-6 login-right" ng-show="isLogin">
                <div class="login-label mar-top-10">
                    <span class="label-top"></span>
                    <label>Department Manager as a User</label>
                </div>
                <div class="form-container pad-top-50 text-center">
                    <form>
                        <input  type="text" class="form-control" placeholder="Enter Email ID" />
                        <input type="password" class="form-control mar-top-20" placeholder="Enter Password" />
                        <button  class="btn login-submit mar-top-50" > LOGIN </button><br/><br/>
                        <a href="javascript:void(0)" ng-click="getResetForm()">Forgot your password?</a><br/><br/>
                        <span class="Register-link">Don't have account</span> <a href="javascript:void(0)" ng-click="getRegisterForm()">Register here</a>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 login-right" ng-show="isRegister">
                <div class="login-label mar-top-10">
                    <span class="label-top"></span>
                    <label>Signup as a Department Manager</label>
                </div>
                <div class="form-container pad-top-50 text-center">
                    <form>
                        <select class="form-control" id="select-dept">
                                <option>dept 1</option>
                                <option>dept 2</option>
                                <option>dept 3</option>
                                <option>dept 4</option>
                                <option>dept 5</option>
                        </select>
                        <!--<select class="form-control mar-top-20" id="select-username">
                                <option>username 1</option>
                                <option>username 2</option>
                                <option>username 3</option>
                                <option>username 4</option>
                                <option>username 5</option>
                        </select> -->

                        <input  type="text" class="form-control mar-top-20" placeholder="Enter Email ID" />
                        <input type="password" class="form-control mar-top-20" placeholder="Password" />
                        <input type="password" class="form-control mar-top-20" placeholder="Confirm Password" />
                        <button  class="btn login-submit mar-top-50" > SIGNUP </button>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 login-right pwd-reset-email" ng-show="isReset">
                <div class="login-label mar-top-10">
                    <span class="label-top"></span>
                    <label>Reset Password</label>
                    <span class="pwd-reset-label pad-top-50">Please enter your register email ID to request a<br/>  password reset</span>
                </div>
                <div class="form-container pad-top-50 text-center">
                    <form>
                        <input  type="email" class="form-control" placeholder="Enter Email ID" />
                        <button  class="btn login-submit mar-top-50" ng-click="getOTPForm()"> SUBMIT </button><br/><br/>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 login-right pwd-reset-otp" ng-show="isOTP">
                <div class="login-label mar-top-10">
                    <span class="label-top"></span>
                    <label>One Time Password(OTP)</label>
                    <span class="pwd-reset-label pad-top-50">One time password(OTP) has been sent to  your register email ID <br/>
                    Please enter the reset password</span>
                </div>
                <div class="form-container pad-top-50 text-center">
                    <form>
                        <div class="otp-container">
                            <input type="number" id="codeBox1"  class="otp-inp" placeholder="0" ng-keyup="onKeyUpEvent(1, $event)" ng-focus="onFocusEvent(1)"/>
                            <input type="number" id="codeBox2" class="otp-inp"  placeholder="0" ng-keyup="onKeyUpEvent(2, $event)" ng-focus="onFocusEvent(2)"/>
                            <input type="number" id="codeBox3" class="otp-inp"  placeholder="0" ng-keyup="onKeyUpEvent(3, $event)" ng-focus="onFocusEvent(3)"/>
                            <input type="number" id="codeBox4"  class="otp-inp" placeholder="0" ng-keyup="onKeyUpEvent(4, $event)" ng-focus="onFocusEvent(4)"/>
                        </div>
                        <button  class="btn login-submit mar-top-50" ng-disabled="confirmOTP"> CONFIRM </button><br/><br/>
                      
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>