<header ng-include="'views/partials/header.html'"></header>
<div class="sidebar-panel" ng-class="{'expand': expandNav}">
    <div ng-include="'views/partials/sidebar.html'"></div>
</div>
<div class="favourite-container body-container" ng-class="{'expand':expandNav}">
    <div class="container-fluid">
        <div class="row" id="sortable">
            <div class="{{'col-sm-12 chart-container full-screen-view chart-render  chart-render-' + $index}}" ng-repeat= "item in response track by $index"  id="{{'full-screen-view-' + $index}}" ng-class="{'col-sm-6' : favouritelength>1 }">
                <div class="pie-chart-container chart-container back-g-white half-bordered">
                    <div class="dropdown chart-dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-square"></i>
                            <i class="far fa-square"></i>
                            <i class="far fa-square"></i>

                        </div>
                        <div class="dropdown-menu">

                            <li><a class="dropdown-item" ng-click="removeReport($event)"><i class="fa fa-window-close"></i>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" ng-click="zoomOut($event);"> <i class="fa fa-window-minimize"></i>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"> <i class="fa fa-redo-alt"></i>
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" ng-click="goFullscreen($event)"> <i class="fa fa-expand"></i>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" ng-click="deleteFavourite($event)" data-attr="{{item.id}}"> <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </li>


                            

                        </div>
                    </div>
                    <div id="{{'product-chart-yearly' +  $index}}" class="chart-fav-id"></div>
                    <div class="weekly-fav-year" ng-if="item.report_type=='weekly'">
                            <span ng-if="item.filter_department != null"><b>Department</b> : {{item.filter_department}}</span>
                            <span ng-if="item.filter_user != null"><b>User</b> : {{item.filter_user}}</span>
                            &nbsp;<b>Year</b> : <input type="radio" ng-checked="true" />{{item.filter_year}}
                            <select class="form-control monthly-section-pie-fav"  ng-if="item.chart_type == 'pie_chart'" ng-model="monthNamePieChart" ng-init="monthNamePieChart = monthList[0]" ng-click="event = $event" ng-change="changeMonthData(event, monthNamePieChart, item.product_name, item.type)">
                              <option style="display:none" value="">select </option>
                              <option ng-repeat="item in monthList">{{item}}</option>
                            </select>
                    </div>
                    <div class="weekly-fav-year" ng-if="item.report_type=='thisweek' || item.report_type == 'this_week'">
                         <span ng-if="item.filter_department != null"><b>Department</b> : {{item.filter_department}}</span>
                         <span ng-if="item.filter_user != null"><b>User</b> : {{item.filter_user}}</span>
                    </div>
                    <div class="weekly-fav-year" ng-if="item.report_type=='yearly' && item.filter_year != null">
                        <span ng-if="item.filter_user != null"> {{item.filter_user}}</span>
                        &nbsp;<b>Year</b> : <input type="radio" ng-checked="true" />{{item.filter_year}}
                    </div>
                    
                    
                              
                     
                    
                    <!--<div class="weekly-section">
                        <ul>
                            <li ng-repeat="item in reportyearlist track by $index">
                            <input type="radio" ng-checked="$index==0" name="{{'licenseitem' + currentProduct}}" ng-click="weeklyYearChange($event,item.year, chartType)"
                              value="{{item.year}}"> {{item.year}}
                            </li>
                            
                        </ul>
                     </div>-->
                    <div class="download-icon" ng-click="downloadChart($event)"><i class="fa fa-arrow-circle-down"></i></div>
                    <div class="resize-move"  ng-mouseover="resizeMouseOver($event)"><i class="fa fa-arrows-alt"></i></div>
                </div>
            </div>


           
        </div>
    </div>

</div>