<header ng-include="'views/partials/header.html'"></header>
<div class="sidebar-panel" ng-class="{'expand': expandNav}">
    <div ng-include="'views/partials/sidebar.html'"></div>
</div>
<div class="dashboard-container body-container" ng-class="{'expand':expandNav}">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="col-sm-12">
                    <div id="chart"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pie-chart-container">
                    <div class="col-md-12">
                        <h5>Recent Reports</h5>
                        <div id="productarea" style="width: 100%;"></div>
                    </div>
                    <div class="col-md-12 ">
                        <h5>Recent Reports</h5>
                        <div id="product-chart-monthly2"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="col-sm-4">
                    <div class="recent-update">
                        <h4>Last 5 Minutes</h4>
                        <select class="form-control" id="last-5-minute">
                            <option selected>Select Product</option>
                            <option>LS-DYNA</option>
                            <option>ALTAIR</option>
                            <option>BETA CAE</option>

                        </select>
                        <ul>
                            <li><span class="green_dot"></span><span class="job_status">Success</span>: 2</li>
                            <li><span class="blue_dot"></span><span class="job_status">Jobs Qued</span>: 1</li>
                            <li><span class="red_dot"></span><span class="job_status">Warning</span>: 2</li>
                            <li><span class="orange_dot"></span><span class="job_status">User Cancelled</span>: 1</li>
                        </ul>

                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="recent-update">
                        <h4>Last 24 Hours</h4>
                        <select class="form-control" id="last-24-hours">
                            <option selected>Select Product</option>
                            <option>LS-DYNA</option>
                            <option>ALTAIR</option>
                            <option>BETA CAE</option>

                        </select>
                        <ul>
                            <li><span class="green_dot"></span><span class="job_status">Success</span>: 2</li>
                            <li><span class="blue_dot"></span><span class="job_status">Jobs Qued</span>: 1</li>
                            <li><span class="red_dot"></span><span class="job_status">Warning</span>: 2</li>
                            <li><span class="orange_dot"></span><span class="job_status">User Cancelled</span>: 1</li>
                        </ul>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="recent-update">
                        <h4>Last 24 Hours</h4>
                        <select class="form-control" id="last-24-hours">
                            <option selected>Select Product</option>
                            <option>LS-DYNA</option>
                            <option>ALTAIR</option>
                            <option>BETA CAE</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>

</div>

<footer ng-include="'views/partials/footer.html'"></footer>